#SetEnvIf Request_URI /phone noauth

#AuthType Basic
#AuthName "Protected Site"
#AuthUserFile /var/.htpasswd
#<RequireAny>
#    Require env noauth
#    Require env REDIRECT_noauth
#
#    Require valid-user
#</RequireAny>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
